.dashboard {
  padding: 50px;
  background-color: #f4f4f4;
  max-height: 100vh;/* Adjusted for navbar height */
  padding: 10px 20px 80px 20px;  
  overflow: hidden;
  box-sizing: border-box;
}

.dashboard-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 0px;       
  margin-bottom: 40px;
  color: #080808;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  overflow: hidden;
}


.dashboard-left {
  flex: 1;
  max-width: 50%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.dashboard-card {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.dashboard-card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-icon {
  font-size: 24px;
  color: #007bff;
}

.warning {
  color: #e74c3c;
}

.dashboard-right {
  flex: 1;
  max-width: 50%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  height: fit-content;
}

.chart-title {
  margin-bottom: 15px;
  color: #2c3e50;
  font-size: 18px;
}
.dashboard-card-link {
  text-decoration: none;
  color: inherit;
}
