/* EmployeeLayout.css */

.employee-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7fa;
  overflow: hidden;
  /* margin-top: 50px; */
  /* padding: 0px 0px 300px 0px;
  margin: 100px 20px 0px 20px; */
}

.employee-main {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px); /* Assuming navbar height is 60px */
}

.employee-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.employee-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
